doctype html
html
  head
    include base-head
    title YourWiFi
  body
    include base-navbar
    section.page
      .container
        header.page-header
          h1 YourWiFi
        section#content
          if locals.user
            p You are logged in.
          else
            p You need to login to use this app.
    include base-footer
    script.
      $(function() {
        console.log("Hello, World!");
      });
