doctype html
html
  head
    include base-head
    title Login - YourWiFi
  body
    include base-navbar
    section.page
      .container
        header.page-header
          h1 Login
        section#content
          p TODO: some beautiful form comes out of here
    include base-footer
    script.
      // do nothing
